.bgform{
    background-color: var(--bg6);
}

.fontc{
    color: #27221f;
}

.btf{
    background-color: var(--bg3);
    color: var(--bg6);
    border: none;
    width: 90%;
    border-radius: 20px;
    padding: 5px;
}

.link{
    color: var(--bg3);
    
}
.link:hover{
    color: var(--bg1);
}

input:focus::placeholder{
    font-size: 13px;
    transition: font-size 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontc:focus{
    box-shadow: 0 0 0 .25rem rgba(153, 174, 177, 0.69) !important;
}

input::placeholder{
    font-size: 15px;
}

body{
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}