.iconplus {
  font-size: 1.5rem !important;
  display: flex;
  align-items: center;
}
.metbaixo{
  height: calc(50% - 1.5rem) !important;
}

.titgauge{
  position: relative;
  top: -25px;
  margin: 0;
}

.gaugebox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.metcima{
  height: calc(50%) !important;
}

.gauge{
  position:relative;
  top: 10px;
  width: 100% !important;
  height: auto !important;
}

.alertat {
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
  margin-left: calc((var(--larguraboxtituloalerta)) / 2 - (var(--larguratituloalerta) / 2));
}

.textoalerta {
  overflow: auto !important;
  max-height: 200px;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 200;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.btf {
  padding: 6px 0 !important;
}

.linkveralerta {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}

.linkveralerta:hover {
  background-color: var(--bg5) !important;
}

.popupveralerta {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  min-width: 250px;
  max-width: 500px;
  max-height: 60%;
  z-index: 200;
}

.overlayveralerta {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.lbox {
  width: 70% !important;
}

.rbox {
  width: 30% !important;
  padding: 16px;
}

@media (max-width: 767px) {
  .lbox {
    width: 60% !important;
  }

  .rbox {
    width: 40% !important;
    padding: 5px;
  }

  #boxtituloalerta {
    margin: 5px;
  }

  .textoalerta {
    overflow: scroll !important;
    height: 150px;
    white-space: pre-wrap;
    padding: 0 !important;
  }

  .alertat {
    display: flex;
    justify-content: center;
    margin: 0 !important;
    padding-left: 10px;
  }
}

@media (max-width: 425px) {
  #boxtituloalerta {
    flex-direction: column;
    margin: 2px !important;
  }

  .alertat {
    display: flex;
    justify-content: center;
    margin: 0 !important;
    padding-left: 0;
  }
}

@media (min-width: 1200px){
  .gauge{
    width: 80% !important;
  }
}
@media (min-width: 1400px){
  .gauge{
    width: 66% !important;
  }
}