body {
    padding: 7vh 20px;
    --bg1: #FAF9F8;
    --bg2: #8A8E8A;
    --bg3: #B0B199;
    --bg4: #727D85;
    --bg5: #5A565E;
    padding-top: calc(7vh + 56px);
}

.backgroundf {
    background-color: var(--bg5);

}

.bgcont {
    background-color: var(--bg1);
    height: 78vh;

}

.scrolly {
    overflow-y: auto;
    scrollbar-color: var(--bg3) transparent;
    scrollbar-width: thin;
}

.bgmenu {
    background-color: var(--bg3);
}

.menuexit {
    background-color: var(--bg4);
}
