body {
    padding: 7vh 20px;
    --bg1: #023535;
    --bg2: #015958;
    --bg3: #019587;
    --bg4: #31B69B;
    --bg5: #FACFCE;
    --bg6: #F2E9D4;
    padding-top: calc(7vh + 56px);
}

*{
    font-family: "Nunito", sans-serif;
}

.bg1 {
    background-color: var(--bg1) !important;
}
.bg2 {
    background-color: var(--bg2) !important;
}
.bg3 {
    background-color: var(--bg3) !important;
}
.bg4 {
    background-color: var(--bg4) !important;
}
.bg5 {
    background-color: var(--bg5) !important;
}
.bg6 {
    background-color: var(--bg6) !important;
}

.bgcont {
    height: 70vh;

}

.scrolly {
    overflow: auto;
    scrollbar-color: var(--bg3) transparent;
    scrollbar-width: thin;
}

.bgmenu {
    background-color: var(--bg1);
}

.textcream{
    color: var(--bg6) !important;
}

.menuexit {
    background-color: var(--bg4);
}

.drop {
    display: inline-block;
    background: rgba(0, 0, 0, 0) !important;
    position: relative;
    height: 100%;
}

.drop button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
    padding: 0;
    background: rgba(0, 0, 0, 0) !important;
}



.dropdown-options {
    display: none;
    position: absolute;
    right: 0px;
    top: 40px;
    padding: 10px 10px;
    overflow: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.drop:hover .dropdown-options {
    display: block;
}

.dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius: 5px;
}