body {
    padding: 7vh 20px;
    --bg1: #FAF9F8;
    --bg2: #8A8E8A;
    --bg3: #B0B199;
    --bg4: #727D85;
    --bg5: #5A565E;
    padding-top: calc(7vh + 56px);
}

.backgroundf {
    background-color: var(--bg5);

}

.bgcont {
    background-color: var(--bg1);
    height: 78vh;

}

.scrolly {
    overflow: auto;
    scrollbar-color: var(--bg3) transparent;
    scrollbar-width: thin;
}

.bgmenu {
    background-color: var(--bg3);
}

.menuexit {
    background-color: var(--bg4);
}

.drop {
    display: inline-block;
    background: rgba(0, 0, 0, 0) !important;
    position: relative;
    height: 100%;
}

.drop button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
    padding: 0;
    background: rgba(0, 0, 0, 0) !important;
}



.dropdown-options {
    display: none;
    position: absolute;
    right: 0px;
    top: 40px;
    padding: 10px 10px;
    overflow: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.drop:hover .dropdown-options {
    display: block;
}

.dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius: 5px;
}